html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


#login-submit {
    max-width : 300px;
    margin: 20px
}

#user > div.form-floating
{
    max-width : 300px;
    margin: auto;
    
}

#divPartialForm
{
    max-width : 300px;
    margin: 20px;
    
}

#message > button
{
    margin-top: 10px;
}

#message > div > label {
    margin-bottom: 10px;
}